<p class="dialog-title">{{ title }}</p>
<div class="bb5-list-data-toolbar bb5-toolbar-order">
    <div class="row">
        <p class="bb5-toolbar-order-col col-bb5-60"><a href="#">Title <i class="fa fa-angle-down"></i></a></p>
        <p class="bb5-toolbar-order-col col-bb5-20"><a href="#">Autor <i class="fa fa-angle-down"></i></a></p>
        <p class="bb5-toolbar-order-col col-bb5-20"><a href="#">Modified at <i class="fa fa-angle-down"></i></a></p>
    </div>
</div>

<ul class="bb5-list-data bb5-list-display-list clearfix bb-revision-selector">
    {{ items }}
</ul>