<li class="contenttype-item" style="margin-top:5px;">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default-grey trash-btn" type="button"><i class="fa fa-trash"></i></button>
        </span>
        <input type="text" disabled value="{{ contentType }}" class="form-control title">
    </div>
</li>