<div class="dropzone-area">
    <label for="">{{ element.getLabel() }}</label>
    <div class="dropzone dropzone-file">
    </div>
    <input type="hidden" name="{{ element.getKey() }}" />
    {% if element.getError() != null %}
        <span class="help-block">{{ element.getError() }}</span>
    {% endif %}
</div>