<button class="btn btn-default-grey btn-sm node-selector-btn">
    <i class="fa fa-columns"></i>
    Move to
</button>
<input type="text" disabled class="form-control">
<input type="hidden" name="{{ element.getKey() }}" value="{{ element.getValue() }}" class="form-control">