<div class='bb5-windowpane-tree'>
    <div class='action-ctn'>
        <input class="show_folder_action" type='checkbox'/>{{ trans('show_folder') }}
    </div>
    <div class='bb5-treeview'>{{ trans('loading') }}...</div>
</div>