<li class="bb5-list-data-item" data-uid="{{ item.uid }}">
    <span class="bb5-toolbar-order-col col-bb5-50">{{ item.title }}</span>
    <span class="bb5-toolbar-order-col col-bb5-22">Unknown</span>
    <span class="bb5-toolbar-order-col col-bb5-22">Unknown</span>
    <span class="bb5-toolbar-order-col col-bb5-6"><button class="btn btn-simple btn-xs select-btn"></i> {{ trans('select') }}</button></span>
</li>