<div class="item {% if active %}active{% endif %}">
    <div class="item-inner">
        <div class="row">
            {% for block in blocks %}
                <div class="col-xs-4 slider-col">
                    <button draggable="true" data-bb-type="{{ block.type }}" class="button bb5-blocks-choice-x bb-dnd" title="{{ block.label }}">
                        <i style="background-image:url({{ block.thumbnail }});"></i>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>