/*!
 * Groupe LP v1.0.5 - nov-dec2012
 *
 * GEN stylesheet: Skin03 CSS
 *
 * IE9 requires SVG gradients with border-radius
 *
 */


/*Scaffolding*/
/*
.container, .container-fluid {margin:0 auto; outline:solid 1px purple;}
.row [class*="span"] {outline:solid 1px pink;}
*/

/*.touch is TouchScreen detection formatting*/

/*Selection*/
::-moz-selection {background:#007DC4; color:#fff;}
::selection {background:#007DC4; color:#fff;}

/*NoScript*/
noscript p {display:block; padding:10px; color:#fff; font-size:1em; text-shadow:1px 1px 1px ##666; background-color:red;}

/*
COMMON
*/
@media screen {
/**/
#bb5-site-wrapper .container-fluid {width:100%; max-width:1216px; min-width:996px; margin-left:auto; margin-right:auto; padding:0;}
/**/
body {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.75em; color:#333; padding:0 10px; background:#fff url(../img/body_header_bg01.png) no-repeat scroll 50% 0;}
img, embed, object, video, canvas object {max-width:100%;}
ul.nav, ol.nav, nav ul, nav ol, [class*="block-kind-nav-"] ul, [class*="block-kind-nav-"] ol {list-style:none; list-style-image:none; margin:0; padding:0;}
p {margin:0 0 7px 0;}
hr {border-top-width:0; border-bottom:dotted 1px #d6d6d6;}
	/*Hn*/
h1, h2, h3, h4, h5, h6 {font-weight:normal; margin:0; padding:0; line-height:101%;}
	/*A*/
a {color:#007DC4; text-decoration:none;}
a:hover, a:focus, .nav-selected a {color:#007DC4; text-decoration:underline;}
a:focus {outline:dotted 1px #007DC4;}
.touch a[href^=tel] {color:#007DC4;} /*ios phone number detection formatting*/
.link-readmore {padding-left:11px; background:transparent url(../img/arrow-blu-e.png) no-repeat scroll 0px 7px;} /*read arrow east*/
	/*I: icon*/
		[class*="ico-"] i {display:inline-block; width:15px; height:15px; font-size:0.01em; vertical-align:top;} /*<i> holds bg-image inside a 15*15px block*/
		/*ICO*/
		[class*="ico-"] i {background:transparent url(../img/ico-tiles.png) no-repeat scroll 0 0;}
		.ico-home i {background-position:0 -15px;} /*home*/
		.ico-login i {background-position:0 -30px;} /*login*/
		.ico-search i {background-position:0 -45px;} /*search*/
		.ico-addthis_rss {float:left; padding:0 2px;} /*rss*/
		.ico-addthis_rss i {width:16px; height:16px; vertical-align:top; background-position:17px 0;}
		.ico-print i {background-position:0 -135px;}
		.ico-send i {background-position:0 -150px;}
		.ico-clock i {background-position:0 -300px;}
		.ico-x i {background-position:-300px -300px;} /*Off to be used with content-boxed*/
		.ico-menu i {background-position:0 -364px; vertical-align:baseline; height:17px; width:21px;}
	/*Misc*/
.text-align-left {text-align:left;}
.text-align-center {text-align:center;}
.text-align-right {text-align:right;}
.has-border-radius {-webkit-border-radius:3px; border-radius:3px;}
.bb5-has-transition {-moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.block-left {float:left !important;}
.block-right {float:right !important;}
.float-reflow {overflow:auto; overflow-y:hidden;} /*Float reflow Fix; overflow-y is trying to patch chrome unzoomed page scrollbar*/
.metadata-wrapper {font-family:Arial, Helvetica, sans-serif; font-size:0.833em; color:#00ACEE; margin:0; padding:0;}
.metadata-date {}
.metadata-revision-date {}
.metadata-hour {}
.metadata-user {}
.metadata-topic {}
	/*Li*/
ul.list-dotted {list-style-type:none; margin:0; padding:0;}
ul.list-dotted li {padding:0 0 7px 11px; background:transparent url(../img/dot_blu01.png) no-repeat scroll 0 7px;}
ul.list-dotted li a {}
	/*Form*/
input, textarea, select {vertical-align:middle; line-height:normal !important; -moz-box-sizing:border-box; box-sizing:border-box;}
textarea {vertical-align:top;}
button, a[class*="ico-"] {padding:0 6px; border-width:0; vertical-align:middle; -moz-box-sizing:border-box; box-sizing:border-box;}
#bb5-site-wrapper button.custom-button {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; text-transform:uppercase; line-height:normal;
background: #80b13c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwYjEzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1Yzk0MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #80b13c 0%, #5c942e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80b13c), color-stop(100%,#5c942e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #80b13c 0%,#5c942e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #80b13c 0%,#5c942e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #80b13c 0%,#5c942e 100%); /* IE10+ */
background: linear-gradient(to bottom, #80b13c 0%,#5c942e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b13c', endColorstr='#5c942e',GradientType=0 ); /* IE6-8 */
-moz-transition: all 0.5s ease-in; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in;
}
	.ie9 #bb5-site-wrapper button.custom-button {filter: none!important;}

#bb5-site-wrapper button.custom-button:hover {
background: #5c942e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjOTQyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGIxM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #5c942e 0%, #80b13c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c942e), color-stop(100%,#80b13c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #5c942e 0%,#80b13c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5c942e 0%,#80b13c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5c942e 0%,#80b13c 100%); /* IE10+ */
background: linear-gradient(to bottom, #5c942e 0%,#80b13c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c942e', endColorstr='#80b13c',GradientType=0 ); /* IE6-8 */
}
#bb5-site-wrapper button.custom-button:active {
background: #5c942e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiM1Yzk0MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODBiMTNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, #5c942e 66%, #80b13c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,#5c942e), color-stop(100%,#80b13c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #5c942e 66%,#80b13c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5c942e 66%,#80b13c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5c942e 66%,#80b13c 100%); /* IE10+ */
background: linear-gradient(to bottom, #5c942e 66%,#80b13c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c942e', endColorstr='#80b13c',GradientType=0 ); /* IE6-8 */
}
#bb5-site-wrapper button[class*="ico-"]:not(:empty) {padding:5px 15px;}
#bb5-site-wrapper button[class*="ico-"]:not(:empty) i {margin-right:5px}
#bb5-site-wrapper button.ico-search {font-size:0.01em; color:transparent; padding:5px !important;}
#bb5-site-wrapper button.ico-search i {margin-right:0 !important;}
#bb5-site-wrapper input:focus, #bb5-site-wrapper button:focus {outline:dotted 1px #007DC4;} /*focus like links*/
	.lt-ie8 legend {margin-left:-7px !important;}
	.lt-ie10 legend,
	.lt-ie10 legend span {float:left; zoom:1;} /*fix for ie legend*/
	.touch input {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;} /*touch screen makes input wider*/
.form-kind-email {}
.form-kind-email-placeholder {background:url(../img/form-email-placeholder.png) no-repeat scroll 2% 50%;}


/*
ACCESS: accessibility top links
*/
#access-shortcuts-wrapper {}
#access-shortcuts-wrapper {position:relative;}
#access-shortcuts-wrapper ul {position:absolute; top:2px; left:0; z-index:10; margin:0; padding:0; height:0; overflow:hidden;}
#access-shortcuts-wrapper ul li {float:left; padding:0 1em 0 0; list-style:none; position:relative; background:none;}
#access-shortcuts-wrapper ul li a {color:#fff; background-color:#007DC4;}

/*
HEADER
*/
header {}


/*
NAVBAR: mobility
*/
.navbar-top-wrapper .navbar-inner ul#nav-mobile {display:none;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile:after {content:""; display:table; clear:both;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile .ico-menu i {margin-right:10px; margin-top:40px; vertical-align:top;}

/*
NAVBAR: top
*/
.navbar-top-wrapper {z-index:300; position:static /*fixed*/; /*top:0; left:0; right:0;*/ margin-bottom:10px;}
.navbar-top-wrapper .row-fluid {background:transparent url(../img/header_bg0x.png) no-repeat scroll 0 0;}
.navbar-top-wrapper,
.navbar-top-wrapper .navbar-inner ul li:first-child.nav-selected a {}
.navbar-top-wrapper .logo-wrapper {float:left; padding:9px 35px 25px 15px;} /*Right: 10px (gutter) + 15px= 25px*/
.navbar-top-wrapper .navbar-inner {}
.navbar-top-wrapper .navbar-inner ul {}
.navbar-top-wrapper .navbar-inner ul li {float:left; padding:0 1px 0 0; background:transparent url(../img/navbar-top-sep-bg.png) no-repeat 100% 0;}
.navbar-top-wrapper .navbar-inner ul li a {display:block; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:1em; color:#000; line-height:107px; text-transform:uppercase; margin:0 0 9px 0; padding:0 14px 0 15px; -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.navbar-top-wrapper .navbar-inner ul#nav-secondary li a:hover,
.navbar-top-wrapper .navbar-inner ul#nav-secondary li.nav-selected a,
.navbar-top-wrapper .navbar-inner ul#nav-primary li a:hover,
.navbar-top-wrapper .navbar-inner ul#nav-primary li.nav-selected a {color:#007DC4; text-decoration:none; background:transparent url(../img/navbar-top-bg.png) repeat 50% 0;}
.navbar-top-wrapper .navbar-inner ul li:first-child.nav-selected a {border-bottom-width:0;} /*1st item (home btn) uses bg of <ul>*/
.navbar-top-wrapper .navbar-inner ul li:first-child {background:url(../img/navbar-top-sep-bg.png) no-repeat 0 0, url(../img/navbar-top-sep-bg.png) no-repeat 100% 0;} /*1st button has to bg-images*/
.navbar-top-wrapper .navbar-inner ul li:first-child .ico-home span {font-size:0.01em; width:1px; height:1px; position:absolute; top:-10000em; visibility:hidden;}
.navbar-top-wrapper .navbar-inner ul li:first-child .ico-home i {margin:-5px 0 0 0; background-position:0 -15px; vertical-align:middle;} /*Trying to center ico within button*/
.navbar-top-wrapper .navbar-inner ul li:hover:first-child .ico-home i,
.navbar-top-wrapper .navbar-inner ul li:first-child.nav-selected .ico-home i {background-position:0 -0px;} /*Home bg btn is white*/
.lt-ie8 .navbar-top-wrapper .navbar-inner ul li:first-child .ico-home {zoom:1; height:40px; padding:45px 19px 22px 19px; cursor:pointer;} /*IE7 bug*/
	/*->metadata-wrapper*/
	/*Time stamp*/
	.navbar-top-wrapper .metadata-wrapper {height:31px; line-height:31px; font-size:0.916em; color:#fff; background-color:#3e3e3e; padding:0 2%;}
	.navbar-top-wrapper .metadata-wrapper .ico-clock i {vertical-align:sub; margin:0 5px 0 0;}


/*
NAVBAR: main
*/
.navbar-main-wrapper {z-index:200;}
.navbar-main-wrapper {background-color:#007DC4; /*margin-top:10px;*/ margin-bottom:21px;}
.navbar-main-wrapper [class*="row"] .navbar-inner {}
.navbar-main-wrapper [class*="row"] [class*="span"] {min-height:0;}
.navbar-main-wrapper .navbar-inner ul {height:35px;}
.navbar-main-wrapper .navbar-inner ul li {float:left;}
.navbar-main-wrapper .navbar-inner ul li a {display:block; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; color:#fff; padding:10px 10px 10px 11px; border-right:dotted 1px #80BEE2;  -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.lt-ie10 .navbar-main-wrapper .navbar-inner ul li a {letter-spacing:-0.03em;}
.navbar-main-wrapper .navbar-inner ul li a:hover,
.navbar-main-wrapper .navbar-inner ul li.nav-selected a {background-color:#78AA39; text-decoration:none;}
.navbar-main-wrapper .navbar-inner ul li:last-child a {border-right-width:0;}
	/*-> navbar-social*/
.navbar-main-wrapper [class*="row"] .navbar-social {height:25px/*35-10*/; padding:10px 0 0 0; min-height:auto; background-color:#F6F6F6;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}


/*
SEARCH: main
*/
.section-main-search {padding:5px 5px 5px 9px; background-color:#fff;
-webkit-box-shadow: inset 0px 0px 1px 1px rgba(35, 35, 35, 0.25); box-shadow: inset 0px 0px 1px 1px rgba(35, 35, 35, 0.25);
}
.lt-ie10 .section-main-search {}
.section-main-search form {display:block; vertical-align:bottom; position:relative; margin: 0;}
/*.lt-ie8 .section-main-search form {display:inline;}*/
.section-main-search p {margin:0; line-height:22px;}
.section-main-search .form-box {display:block; padding:1px; position:relative;}
.section-main-search .form-box .form-input-query {top:4px; left:0; right:30px; position:absolute; display:block;}
.section-main-search .form-box .form-input-query input {border-width:0; width:100%;}
.section-main-search button {font-weight:bold; font-style:normal; padding:1px 4px; float:right;}
	/*-> x */
	.lt-ie10 .navbar-top-wrapper .section-main-search {text-align:right}
	/*.navbar-top-wrapper .section-main-search input {max-width:79%;}
	.lt-ie9 .navbar-top-wrapper .section-main-search input {max-width:109px;}
*/

/*
LOGIN: main
*/
.section-main-login {}
	/*-> x */
	.navbar-top-wrapper .section-main-login {margin:13px 0 5px 0; text-align:right;}
	.navbar-top-wrapper .section-main-login button {width:99.9%;}
	.footer-tools .section-main-subscription {text-align:right;}
	.footer-tools .section-main-subscription button {padding:5px 15px;}
	.footer-tools .section-main-login {text-align:right;}


/*
SUBSCRIPTION: main
*/
.section-main-subscription {}
.section-main-subscription button small {font-size:0.6666em;}
	/*-> x */
	#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {
	/**/
	width:100%;
	height:28px; line-height:28px;
	margin:3px 0 0 0; /*31-28:3px*/
	padding:0px;
	}

#bb5-site-wrapper button.subscription-button, #bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {
	background: #cc2229; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMjIyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODFjMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #cc2229 0%, #a81c23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc2229), color-stop(100%,#a81c23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cc2229 0%,#a81c23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cc2229 0%,#a81c23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cc2229 0%,#a81c23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cc2229 0%,#a81c23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2229', endColorstr='#a81c23',GradientType=0 ); /* IE6-8 */
}
	.ie9 #bb5-site-wrapper button.subscription-button, .ie9 #bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {filter: none!important;}
	#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button:hover {
	background: #a81c23; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4MWMyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzIyMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a81c23 0%, #cc2229 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a81c23), color-stop(100%,#cc2229)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a81c23 0%,#cc2229 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a81c23 0%,#cc2229 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a81c23 0%,#cc2229 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a81c23 0%,#cc2229 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a81c23', endColorstr='#cc2229',GradientType=0 ); /* IE6-8 */
	}
	#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button:active {
	background: #a81c23; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNhODFjMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2MyMjI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #a81c23 66%, #cc2229 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,#a81c23), color-stop(100%,#cc2229)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a81c23 66%,#cc2229 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a81c23 66%,#cc2229 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a81c23 66%,#cc2229 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a81c23 66%,#cc2229 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a81c23', endColorstr='#cc2229',GradientType=0 ); /* IE6-8 */
	}




/*
AD INSERT: megabanner -> width set to auto to allow Ad to be inserted in a narrower container
*/
#megabanner {clear:left; width:auto !important; text-align:center; margin:0 auto 10px auto; padding:0; border:0 none; background-color:#fff; overflow:hidden;}
.box-ad {}
.box-ad.small-box-ad {}
.content-is-flash {}


/*
CRUMBREAD
*/
.crumbread-wrapper {margin:0 10px; padding:7px 10px; background-color:#F6F6F6;}
.crumbread-wrapper ul li {display:inline; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#00ACEE;}
.crumbread-wrapper a {}
.crumbread-wrapper a, .crumbread-wrapper h1 {font-size:0.916em; display:inline-block;}
.crumbread-wrapper h1 {display:inline;}
.crumbread-wrapper a:after {content:">"; margin:0 0 0 3px;}


/*
STRUCTURE
*/
.section {padding:10px 0 0 0;}
	/*->sections(aside): columns*/
	.section-main {background-color:#fff;}
	.section-complementary {padding-top:0;}
	.aside {}
	/*-->article list*/
	.section-articlelist {}
	/*-->article*/
	.section-article {}
	/**/
.section hr {/*inherit*/}
.section hr.hr-thick {border-bottom:solid 4px #d6d6d6;}
.section .figure {}
.section .figure.block-left {margin:0 9px 3px 0;}
.section .figure.block-right {margin:0 0 3px 9px;}
.section .figure.block-fullwidth {width:auto; margin:0 0 3px 0;}
.section .figure .figure-caption {display:table; color:#999; font-size:0.833em; margin:0;}
.section .link-readmore {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase;}
.section .link-readmore-wrapper {text-align:right; margin:0; padding:10px;}
.section .content-boxed,
.section .box-ad,
.section .article,
.aside .content-boxed,
.aside .box-ad {margin:0 0 10px 0;}

/*
Article compact or full
*/
	/*-> article-compact */
	.article-compact {padding:10px; border-bottom:solid 1px #d6d6d6; /*background-color:beige;*/}
		.article-compact:after {content:""; display:table; clear:both;}
	.article-compact {margin-bottom:0;} /*Removing bottom-margin*/
	.article-compact h2 {font-size:2.083em; margin:0 0 11px 0;}
	.article-compact .article-chapo {font-size:1.083em; line-height:normal; margin:5px 0 11px 0;}
	.article-compact .figure {}
	.article-compact .figure.block-left {width:31.196%;}
	.article-compact .figure.block-right {width:31.196%;}
	.article-compact .figure.block-fullwidth {width:100%;}
	.article-compact .nav.link-readmore-wrapper {text-align:left; padding:0; clear:both;}
	.article-compact .nav.link-readmore-wrapper li a {font-weight:bold; text-transform:none; padding-left:11px; background: url(../img/arrow-blu-e.png) no-repeat scroll 0 7px rgba(0, 0, 0, 0);}
	/* article */
	.article {padding:10px 10px 27px 10px; /*background-color:bisque;*/}
	.article h1 {font-size:2.666em; margin:0 0 7px 0;}
	.article .metadata-wrapper {font-size:0.833em; text-transform:uppercase; margin:0 0 10px 0;}
	.article span[class*="metadata-"] {display:inline-block; line-height:90%; padding:0 5px 0 0; margin:0 5px 0 0; border-right:solid 1px #00ACEE;}
	.article h2.article-chapo {font-size:1.333em; margin:7px 0 15px 0; line-height:normal;}
	.article .article-body {color:#000;}
	.article h3 {font-size:1.333em; color:#00ACEE; margin:19px 0 5px 0;}
	.article p a {}
	.article .figure.block-fullwidth {width:auto; margin:0 0 3px 0;}
	.article .figure.block-left {width:45.454%; margin:0 15px 3px 0;}
	.article .figure.block-right {width:45.454%; margin:0 0 3px 15px;}
	.article .article-body {font-size:1.0833em;}
	.article blockquote.quote-horz {color:#333; font-size:1.916em; line-height:normal; margin:15px 0; padding:13px 0; border-top:solid 4px #d6d6d6; border-bottom:solid 4px #d6d6d6;}
	.article blockquote.quote-horz p {margin:0;}
	.article blockquote.quote-vert {font-size:1.5em; color:#5D952E; margin:3px 0 15px 0; padding:43px 0 0  0; line-height:normal; background:transparent url(../img/quote_left_bg01.png) no-repeat scroll 0 0;}
	.article blockquote.quote-vert.block-left {width:28.409%; margin:0 15px 3px 0;}
	.article blockquote.quote-vert.block-right {width:28.409%; margin:0 0 3px 15px;}
	.article blockquote.quote-vert p {padding:0 0 43px 0; background:transparent url(../img/quote_right_bg01.png) no-repeat scroll 100% 100%;}
	/*
	box-article-topic-list
	*/
	.box-article-topic-list {margin:0 0 27px 0; padding:10px;}
	.box-article-topic-list h3 {color:#333; font-size:1.916em; padding:0 0 9px 0; border-bottom:solid 4px #d6d6d6;}
	.box-article-topic-list ul {list-style-type:none; margin:9px 0; padding:0;}
	.box-article-topic-list ul li {}
	.box-article-topic-list ul li a {display:block; font-size:1.083em; font-weight:bold; padding:0 0 0 11px; background:transparent url(../img/arrow-blu-e.png) no-repeat scroll 0 5px;}
		/*MOD*/
	.section-article .article + .box-article-topic-list {/*margin-top:29px;*/} /*list under <article>*/
	/*
	box-comment-wrapper
	*/
	.box-comment-wrapper {font-family:Arial, Helvetica, sans-serif; margin:0 0 27px 0; padding:10px; border-bottom:dotted 1px #d6d6d6;}
	.box-comment-wrapper h3 {color:#333; font-size:1.916em; padding:0 0 13px 0; border-bottom:solid 4px #d6d6d6;}
	.box-comment-wrapper .box-comment-count {font-size:48%; color:#5D952E; display:inline-block; vertical-align:bottom;}
	.box-comment-wrapper .box-comment-trigger {position:relative; height:0; visibility:hidden;}
	.box-comment-wrapper .box-comment-trigger button {position:absolute; visibility:visible; top:-37px; right:0;}
	.box-comment-wrapper .box-comment-post {margin:0 0 13px 0; border-bottom:solid 4px #d6d6d6;}
	.box-comment-wrapper .box-comment-post legend {float:none; font-weight:bold; margin:0 0 15px 0;}
	.box-comment-wrapper .box-comment-post label {display:inline-block; width:23%;}
	.box-comment-wrapper .box-comment-post textarea {width:71%;}
	.box-comment-wrapper .box-comment-post button {}
	.box-comment-wrapper .box-comment-post input {width:71%;}
	.box-comment-wrapper .box-comment-list ul {list-style-type:none; margin:0; padding:0;}
	.box-comment-wrapper .box-comment-list ul li {border-bottom:solid 1px #d6d6d6; padding:0 0 13px 0; margin:0 0 13px 0;}
	.box-comment-wrapper .box-comment-list ul li:last-child {border-bottom-width:0; margin:0;}
	.box-comment-wrapper .box-comment-list .metadata-wrapper {float:left; width:18.836%; margin:0 15px 0 0; color:#333;}
	.box-comment-wrapper .box-comment-list .metadata-user {font-size:1.3em;} /*meta is 10px context*/
	.box-comment-wrapper .box-comment-list .metadata-date {font-size:1em;}
	.box-comment-wrapper .box-comment-list .box-comment-list-text {font-size:1.083em;}
	.box-comment-wrapper .box-comment-list .box-comment-list-tool {font-size:0.916em; text-transform:uppercase; margin:0;}
	.box-comment-wrapper .box-comment-list .box-comment-list-tool a {display:inline-block; line-height:90%; padding:0 9px 0 0; margin:0 9px 0 0; border-right:solid 1px #d6d6d6;}
	.box-comment-wrapper .box-comment-list .box-comment-list-tool a:last-child {border-right-width:0;}
		/*MOD*/
	.section-article .article .box-comment-wrapper {margin:29px 0;} /*comment area in .article area not inside an article*/
	/*-> .section-articlelist */
	.section-articlelist .article-compact {}
	/*-> .section-article */
	.section-article .article {}
	.section-article .article-compact {margin:0 0 27px 0;}


/*
Table-data
*/
table.table-data {width:100%;}
table.table-data tbody {}
table.table-data th {font-weight:normal; padding:7px 1px 7px 0; text-align:left; border-bottom:dotted 1px #D6D6D6;}
table.table-data td {padding:7px 1px 7px 0; text-align:left; border-bottom:dotted 1px #D6D6D6;}
	/*-> table-markets-resume*/
	table.table-data.table-markets-resume {font-size:92%; margin:0 0 13px 0;}
	table.table-data.table-markets-resume a {}
	.lt-ie8 table.table-data.table-markets-resume a {}
	table.table-data.table-markets-resume thead th {font-size:117%;}
	table.table-data.table-markets-resume th {text-transform:uppercase;}
	table.table-data.table-markets-resume tr td:last-child {width:20%;}
	/*-> table-dispatch*/
	table.table-data.table-dispatch {}
	table.table-data.table-dispatch a {}
	table.table-data.table-dispatch th,
	table.table-data.table-dispatch td {vertical-align:top; border-bottom-width:0;}
	table.table-data.table-dispatch th {}
	table.table-data.table-dispatch td {padding-left:7px;}
	table.table-data.table-dispatch + p {margin:7px 0 0 0;}
	/*--> low steady high markers (arrows)*/
	.index-low {padding-left:15px; font-style:normal; color:#CC1F26; background:transparent url(../img/ico-tiles.png) no-repeat scroll 0% -165px;}
	.index-steady {color:#401A20; font-style:normal; background:transparent url(../img/ico-tiles.png) no-repeat scroll -100px 0;}
	.index-high {padding-left:15px; font-style:normal; color:#72A637; background:transparent url(../img/ico-tiles.png) no-repeat scroll 0% -180px;}
/*
Content boxed
*/
.content-boxed {background-color:#FFF; padding:10px 0 0 0;}
.content-boxed h1 {font-size:1.333em; font-weight:bold; margin:0 10px 0 10px;}
.content-boxed h2 {font-size:1.416em; font-weight:bold;}
.content-boxed-padding {padding:10px; background-color:#FFF; clear:both;}
.content-boxed-padding:after {content:""; display:table; clear:both;}
	/*-> section-complementary*/
	.section-complementary .content-boxed-readmore {text-align:right; padding:7px 10px 7px 0; border-top:solid 1px #D6D6D6;}
	.section-complementary .content-boxed-padding ul {list-style-type:none; margin:0; padding:0;}
	.section-complementary .content-boxed-padding ul .article-compact {padding-bottom:10px;}
	.section-complementary .content-boxed-padding ul li:last-child .article-compact {border-bottom-width:0;}
		.section-complementary .content-boxed-padding ul .article:after {content:""; display:table; clear:both;}
	.section-complementary .content-boxed-padding ul .article .metadata-wrapper {display:none;}
	.section-complementary .content-boxed-padding ul .article .article-chapo {font-size:1em;}
	.section-complementary .content-boxed-padding ul .article .figure.block-left {width:40.78%;}
	.section-complementary .content-boxed-padding ul .article .figure.block-right {width:40.78%;}
	.section-complementary .content-boxed-padding ul .article .figure.block-fullwidth {width:100%;}
	.section-complementary .content-boxed-padding ul .article .nav.link-readmore-wrapper {display:none;}
	/*-> ico for Hn */
	.content-boxed h1, .content-boxed .ico-x {padding:0 0 5px 0; border-bottom:solid 2px #333;}
	.content-boxed .ico-x i {width:21px; height:21px; margin:0 7px 0 0; vertical-align:middle; border:solid 1px transparent;}
	/*-> ranking/ palmares*/
	.content-ranking h1 i {background-color:#78AA39; border-color:#78AA39; background-position:0 -197px;}/*-195px*/
	/*-> nature*/
	.content-nature h1 i {background-color:#78AA39; border-color:#78AA39; background-position:-1px -216px;}
	/*-> weeklyquestion*/
	.content-weeklyquestion h1 i {background-color:#78AA39; border-color:#78AA39; background-position:-1px -258px;}
	.content-weeklyquestion .content-boxed-padding p {font-size:1.333em;}
	/*-> hotstuff*/
	.content-hotstuff h1 i {background-color:#00ACED; border-color:#00ACED; background-position:0 -237px;}
	/*-> poll*/
	.content-poll h1 i {background-color:#78AA39; border-color:#78AA39; background-position:-1px -258px;}
	.content-poll button[type="submit"] {padding:5px 15px; margin:auto;}
	.content-poll ul.content-poll-choices {margin:0 0 11px 0; padding:11px 0 0 0; list-style-type:none;}
	.content-poll ul.content-poll-choices li {}
	.content-poll ul.content-poll-choices input[type="radio"] {margin:0 3px 0 0; vertical-align:text-top;}
	/*-> etymology*/
	.content-etymology {}
	.content-etymology .content-boxed-padding {background-color:transparent;}
	.content-etymology {background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #3e3e3e 45%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(45%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#3e3e3e 45%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#3e3e3e 45%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#3e3e3e 45%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#3e3e3e 45%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
	}
	.content-etymology h1, .content-etymology a {color:#00ACEE;}
	.content-etymology .box-etymology-item {text-align:center; margin:0; padding:35px 0; background:transparent url(../img/box_etymology_bg01.png) no-repeat scroll 50% 50%;}
	.content-etymology .box-etymology-item a {font-size:1.333em;}
	.content-etymology .link-readmore {}


/*
SHARING TOOL
*/
.sharing-tool-wrapper {padding:10px 0 0 0; border-top:dotted 1px #d6d6d6; border-bottom:dotted 1px #d6d6d6;}
.sharing-tool-wrapper .sharing-tool {float:left; width:27.5%; height:30px;}
.sharing-tool-wrapper .sharing-tool button {background-color:transparent; background-image:none;}
.sharing-tool-wrapper .sharing-socialnetwork {float:left; width:72%; height:30px;}


/*
Box AD
*/
.section-complementary .box-ad {text-align:center; padding:10px; background-color:#fff;} /*Ads should be able to get resized on the fly*/
aside.section-complementary .box-ad {padding:0;} /*Ads without padding*/


/*
Box Social
*/
.box-social {}
	/*->*/
	nav .box-social {text-align:center;}
	nav .box-social h1 {float:left; line-height:16px; font-size:0.916em; margin:0 5px;}
	nav .box-social .addthis_toolbox {float:left; min-width:84px;}
	footer .box-social {}


/*
TABS
*/
.ui-tabs-wrapper {}
.ui-tabs-wrapper .ui-tabs-nav {border-bottom:solid 1px #00ADEF;}
.ui-tabs-wrapper .ui-tabs-nav li {list-style:none; display:table-cell; background-color:transparent/*#D1D1D1*/; border-right:2px solid #FFF;}
.lt-ie8 .ui-tabs-wrapper .ui-tabs-nav li {list-style:none; display:inline; border-right-width:0;}
.ui-tabs-wrapper .ui-tabs-nav li:last-child {border-right-width:0;}
.ui-tabs-wrapper .ui-tabs-nav li h2 {display:inline-block; font-size:13px;}
.ui-tabs-wrapper .ui-tabs-nav li a {display:inline-block; color:#333; padding:11px; text-align:center; background-color:#D1D1D1; border-bottom:solid 1px #fff;}
.ui-tabs-wrapper .ui-tabs-nav li .ui-tabs-active {color:#fff; background-color:#00ADEF; border-bottom:solid 1px #00ADEF;}
.ui-tabs-wrapper .ui-tabs-content {padding:5px 11px; border:solid 1px #00ADEF; border-top-width:0;}


/*
FOOTER
*/
footer {border-top:solid 9px #D6D6D6;}
.lt-ie9 footer {background:#fff url(../img/footer_bg01.png) repeat-x scroll 0 0;} /*No gradient below IE9*/
footer .container {}
footer .footer-tools {}
footer .footer-tools [class*="span"] {padding:10px 0;}
footer .footer-tools .logo-wrapper {float:left; width:198px; height:49px; margin:0 21px 0 0;}
footer .footer-tools .section-main-search {float:left; min-width:180px;}
footer .footer-tools button[type="button"] {margin:auto;}
footer .footer-linklist {margin-top:21px; margin-bottom:11px;}
footer .footer-linklist [class*="span"] {border-right:dotted 1px #d6d6d6; margin-bottom:21px;}
footer .footer-linklist [class*="span"]:last-child {border-right-width:0;}
footer .footer-linklist [class*="span"]:nth-child(7n) {margin-left:0;}
footer .footer-linklist h1 {font-size:1.083em; font-weight:bold; color:#007DC4; margin:0 0 11px 0; padding:0;}
footer .footer-linklist h1 a {}
footer .footer-linklist .block-kind-nav-wrapper {min-height:131px;} /*Trying to make col the same height*/
footer .footer-linklist ul li a {}
footer .footer-copyright {font-size:0.833em; text-transform:uppercase; padding:13px 0; border-top:solid 1px #F2ECED;}
footer .footer-copyright ul li {display:inline;}
footer .footer-copyright ul li a {display:inline-block; padding:0 11px 0 0;}
footer .footer-copyright p {margin:0;}
/**/
}


/*
MEDIA QUERIES RULES
--> see also JS file
*/
/*@media screen and (max-width: 480px) {*/
/*@media
screen and (max-device-width: 480px),
screen and (max-device-width:768px) and (orientation:portrait),
screen and (max-device-width:768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-device-width:640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
@media only screen and (max-width:768px){ --> 800px for samsung tablet
*/

@media only screen and (min-width: 1200px) {
.navbar-top-wrapper .row-fluid {background-image:url(../img/header_bg0x.png);}
.navbar-top-wrapper .navbar-inner ul li a {padding:0 20px 0 21px;}
.lt-ie10 .navbar-top-wrapper .navbar-inner ul li a {padding:0 23px 0 24px;}
.container-fluid {max-width:1400px;}
}
@media (min-width: 801px) and (max-width: 1014px) {
/*#bb5-site-wrapper .container-fluid {width:996px;}*/
#bb5-site-wrapper .container-fluid {width:auto; min-width:0;}
body {background-image:none; padding:0!important;}
/*logo*/
/*.navbar-top-wrapper .logo-wrapper {width:125px;}*/
.navbar-top-wrapper .navbar-inner ul li a {padding:0 10px 0 11px; /*line-height:60px;*/}
/*Header*/
.navbar-top-wrapper {position:relative;}
/*.navbar-top-wrapper .row-fluid {background-position:-100px -27px;}*/
.navbar-top-wrapper .row-fluid [class*="span"] {width:100%; margin:0;}
#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {position:absolute; top:0; right:5px; padding-left:8px; padding-right:8px; width:auto;}
.navbar-top-wrapper .section-main-login {float:left; width:28%; margin-left:3%; margin-top:7px;}
.navbar-top-wrapper .section-main-search {margin-left:34%; margin-right:3%;}
/*social*/
.navbar-main-wrapper [class*="row"] .navbar-social {height:35px; padding:0;}
}
@media only screen and (min-width:801px){#nav-primary, #nav-secondary {display:block !important; /*Fixing jquery toggle on rez change*/} }
@media only screen and (max-width:800px){
#bb5-site-wrapper .container-fluid {width:auto; min-width:0;}
body {background-image:none; padding:0!important;}
/*logo*/
.navbar-top-wrapper .logo-wrapper {display:none;}
.navbar-top-wrapper #nav-mobile .logo-wrapper {display:block;}
/*Header*/
.navbar-top-wrapper {position:relative;}
.navbar-top-wrapper .row-fluid {background:transparent url(../img/header_bg0x_mobile.png) 0 0 repeat-x; border-bottom:9px solid #FFFFFF;}
.navbar-top-wrapper .row-fluid [class*="span"]:last-child {/*display:none;*/}
#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {position:absolute; top:0; right:5px; padding-left:8px; padding-right:8px; width:auto;}
.navbar-top-wrapper .section-main-login {display:none;}
.navbar-top-wrapper .section-main-search {display:none;}
/*.navbar-main-wrapper [class*="row"] .navbar-inner {display:none;}*/
.navbar-main-wrapper [class*="row"] .navbar-social {display:none;}

/*Nav*/
#nav-primary, #nav-secondary {/*display:none;*/}
#nav-secondary {border-top:1px solid #D6D6D6;}
.js #nav-primary, .js #nav-secondary {display:none;} /*Detecting whether or not JS is activated*/
.navbar-top-wrapper .navbar-inner ul#nav-secondary li a {line-height:50px; margin-bottom:0px!important;}
.navbar-top-wrapper .navbar-inner ul#nav-secondary li a:hover,
.navbar-top-wrapper .navbar-inner ul#nav-secondary li.nav-selected a {background-image:url(../img/navbar-top-bg-mob.png); background-position:50% 100%;}
/*
NAVBAR: mobility
*/
.navbar-top-wrapper {margin-bottom:0;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile {display:block; margin-bottom:9px;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile li a {line-height:101px; margin:0;}

/*Footer*/
footer .footer-linklist {display:none;}
footer .footer-copyright {padding:1em; text-align:center;}
footer .footer-copyright ul li a {font-size:1.3em; padding:0 0.3em 0.4em 0;}
footer .footer-copyright .span6:last-child {font-size:1em; padding:0.8em 0 0 0;}
footer .footer-copyright .span6:last-child .text-align-right {text-align:center;}
	/*tools*/
	footer .footer-tools .logo-wrapper {float:none; height:49px; margin:0 auto; text-align:center;}
	footer .footer-tools .section-main-search {float:none; width:85%; margin:1em auto 0.3em auto; text-align:center;}
	/*search*/
	.footer-tools .section-main-search form {display:block; width:99.9%;}
	.footer-tools .section-main-search .form-box {position:relative; display:block; width:99.9%; height:30px; padding:0; margin:auto;}
	.footer-tools .section-main-search input {position:absolute; left:5px; width:90%; height:30px; -webkit-appearance:none;}
	.footer-tools .section-main-search button {position:absolute; top:3px; right:3px;}
	.footer-tools .section-main-subscription {text-align:center;}
	/*login*/
	.footer-tools .section-main-login {text-align:center;}
/*Article*/
.article-compact h2 {font-size:1.666em;}
/*Misc*/
.box-ad, .content-is-flash {display:none;}
/*Form*/
.box-comment-wrapper .box-comment-list .metadata-wrapper {float:none; width:auto;}
.box-comment-wrapper .box-comment-post label {display:block; width:auto;}
.box-comment-wrapper .box-comment-post textarea, .box-comment-wrapper .box-comment-post input {width:99.9%;}
.section.member-dashboard .question-post label:not(.form-label-wauto) {display:block; width:auto;}
.section.member-dashboard .question-post input[type="text"], .section.member-dashboard .question-post textarea {width:99.9%;}

}



@media screen and (max-width: 480px) {
/**/
/*logo*/
.navbar-top-wrapper #nav-mobile .logo-wrapper {width:150px;}
/**/
#bb5-site-wrapper .navbar-top-wrapper .section-main-subscription button {right:0px;}
/*Menu*/
.navbar-top-wrapper .navbar-inner ul#nav-mobile li.menu-btn-wrapper {float:none;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile .ico-menu {float:right;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile .ico-menu span {font-size:0.01em; width:1px; height:1px; position:absolute; top:-10000em; visibility:hidden;}
.navbar-top-wrapper .navbar-inner ul#nav-mobile .ico-menu i {width:41px; height:41px; background-position:5px -315px; vertical-align:middle;
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px #00a7ea; /* Old browsers */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, -moz-linear-gradient(top,  #00a7ea 0%, #2989d8 38%, #207cca 56%, #1b84c4 100%); /* FF3.6+ */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a7ea), color-stop(38%,#2989d8), color-stop(56%,#207cca), color-stop(100%,#1b84c4)); /* Chrome,Safari4+ */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, -webkit-linear-gradient(top,  #00a7ea 0%,#2989d8 38%,#207cca 56%,#1b84c4 100%); /* Chrome10+,Safari5.1+ */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, -o-linear-gradient(top,  #00a7ea 0%,#2989d8 38%,#207cca 56%,#1b84c4 100%); /* Opera 11.10+ */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, -ms-linear-gradient(top,  #00a7ea 0%,#2989d8 38%,#207cca 56%,#1b84c4 100%); /* IE10+ */
background:url(../img/ico-tiles.png) no-repeat scroll 5px -315px, linear-gradient(to bottom,  #00a7ea 0%,#2989d8 38%,#207cca 56%,#1b84c4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7ea', endColorstr='#1b84c4',GradientType=0 ); /* IE6-9 */
/*url(../img/ico-tiles.png) no-repeat scroll 5px -315px*/
}
.navbar-top-wrapper .navbar-inner ul#nav-mobile .ico-menu i {margin-right:0; margin-top:0;}
.navbar-top-wrapper .navbar-inner ul#nav-secondary li a {line-height:40px;}
/*Article*/
.article blockquote.quote-vert.block-left,
.article blockquote.quote-vert.block-right {width:100%; margin:0 0 0.3em 0;}
/*Misc*/
.sharing-tool-wrapper .sharing-tool,
.sharing-tool-wrapper .sharing-socialnetwork {float:none; width:100%; clear:both;}
}


@media screen and (max-width: 320px) {
/**/

}


/*PRINT*/
@media only print {
/**/
	/*PRINTER friendly CSS v1.05*/
	body {margin:auto; background-color:#fff;}
	body, h1, h2, h3, h4, h5, h6, table, th, td, p  {font-family:"Times New Roman", Times, serif; font-size:1em; color:#333333;}
	h1 {font-size:1.5em; margin:0.7em 0;}
	h2 {font-size:1.35em; margin:0.7em 0;}
	h3 {font-size:1.2em; margin:0.6em 0;}
	h4 {font-size:1.1em; margin:0.5em 0;}
	h5, h6 {font-size:1em; margin:0.3em 0;}
	th {font-size:1.2em;}
	table, td, p, ul, li {font-size:1em;}
	table {border-collapse:collapse; border:dotted 1px #999999;}
	table th, table td {border:dotted 1px #999999;}
	table {margin:auto;}
	table th {padding:0.2em; font-weight:bold;}
	table td {padding:0.2em;}
	ul {margin:1em;}
	/**/
  .container {width: auto;}
  .row-fluid {width: 100%;}
  .row,
  .thumbnails {margin-left: 0;}
  [class*="span"],
  .row-fluid [class*="span"] {display: block; float: none; width: 99.9%; margin-left: 0;} /*width is set from AUTO to 99.9% for CHROME*/
	/**/ /*BB5: #content --> #bb5-mainLayoutRow + #bb5-mainLayoutRow > div:nth-child(3) for aside{role:complimentary}*/
	/*#bb5-mainLayoutRow a:link:after, #bb5-mainLayoutRow a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
	 font-family:"Lucida Console", Monaco, monospace;
   }*/
	#bb5-mainLayoutRow .crumbread-wrapper a:link:after, #bb5-mainLayoutRow .crumbread-wrapper a:visited:after,
	#bb5-mainLayoutRow .pager-wrapper a:link:after, #bb5-mainLayoutRow .pager-wrapper a:visited:after {content:'';}
	#access-shortcuts-wrapper, #nav-mobile, .addthis_toolbox, form[role=search], .content-is-flash, .box-ad, footer, aside[role=complimentary], #bb5-mainLayoutRow > div:nth-child(3), fieldset, .sharing-tool-wrapper, button, .section .member-dashboard .nav {display:none;}
	#bb5-mainLayoutRow .ui-tabs-content {display:block !important;}
	.content-boxed {border:dotted 1px #999999;}
  /**/
  #nav-primary, #nav-secondary {display:none;}
  nav .box-social {display:none;}
  .crumbread-wrapper {display:none;}

/**/
}

