#bb5-ui .xdsoft_datetimepicker {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    background: #FFFFFF;
    border-bottom: 1px solid #BBBBBB;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #333333;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 8px;
    padding-left: 0;
    padding-top: 2px;
    position: absolute;
    z-index: 9999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:none;
    width: 298px;
    height: 207px;
    font-size: 0.75em;
    overflow: hidden;
}

#bb5-ui .form-group.custom-form-group {
    border: 2px solid #ccc;
    padding: 5px;
    margin: 10px 0;
}

#bb5-ui .bb5-context-menu {
    z-index: 1000;
}

/* CONTENT */

.bb-content {
    position:relative;
    min-height:21px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: move;
} /*min-height*/

.bb-dropzone {
    width: 100%;
    min-height: 50px;
    background-color:green;
}

.bb-content.bb-content-hover {-webkit-box-shadow:0px 0px 1px 3px rgba(0,0,0,0.2); box-shadow:0px 0px 1px 3px rgba(0,0,0,0.2);}

.bb-content.bb-content-selected {-webkit-box-shadow:0px 0px 1px 3px rgba(227,78,38,0.85); box-shadow:0px 0px 1px 3px rgba(227,78,38,0.85);} /*clicked block -> orange*/


/* END CONTENT */