<div>
    <p>Are you sure you want remove the group {{ group.name }}</p>

    <button class="btn btn-info" id="bb-group-cancel">Cancel</button>
    <button class="btn btn-warning" id="bb-group-validate">validate</button>
</div>