<div>
    <p>Are you sure you want remove the user {{ user.firstname() }} {{ user.lastname() }}</p>

    <button class="btn btn-info" id="bb-user-cancel">Cancel</button>
    <button class="btn btn-warning" id="bb-user-validate">validate</button>
</div>