<div id="bb-current-user" class="nav navbar-nav pull-right">
    <div class="btn-group">
        <button id="bb5-topmost-login" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{ login }} <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
                <a href="#/user/edit" class="bb-service" data-service="editCurrent">
                    <i class="fa fa-pencil"></i> {{ 'Edit'|trans }}
                </a>
            </li>
            <li>
                <a href="#/user/edit/password" class="bb-service" data-service="changePassword">
                    <i class="fa fa-unlock-alt"></i> {{ 'Change password'|trans }}
                </a>
            </li>
            <li>
                <a href="#/user/logout" class="bb-service" data-service="logout">
                    <i class="fa fa-power-off"></i> {{ 'Logout'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>