<div class="form-group">
    {% for key, item in element.getOptions() %}
        <div class="radio{% if element.isInline() %}-inline{% endif %}">
            <label>
                <input type="radio"
                       name="{{ element.getKey() }}"
                       {% if element.isDisabled() %}disabled{% endif %}
                       value="{{ key }}"
                       {% if element.getValue() == key %}checked{% endif %}>
                {{ item }}
            </label>
        </div>
    {% endfor %}
</div>