<div>
    <p>{{ 'do_you_want_' ~ action ~ '_this bundle'|trans }} ?</p>

    <button class="btn btn-info" id="bb-bundle-cancel">{{ 'cancel'|trans }}</button>
    <button class="btn btn-warning" id="bb-bundle-validate">{{ 'validate'|trans }}</button>
</div>