<div id="contribution-scheduling" class="bb5-dialog">
    <div class="row form-group">
        <div class="col-bb5-40">Publication programmée le :</div>
        <div class="col-bb5-33">
            <div class="input-group input-group-xs">
                <input type="text" placeholder="dd/mm/aaaa" class="form-control input-xs bb5-datepicker">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default-grey">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-bb5-x">à</div>
        <div class="col-bb5-x">
            <select name="[]" class="form-control input-xs">
                <option value="0">15:30</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-bb5-40">Publication programmée le :</div>
        <div class="col-bb5-33">
            <div class="input-group input-group-xs">
                <input type="text" placeholder="dd/mm/aaaa" class="form-control input-xs bb5-datepicker">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default-grey">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-bb5-x">à</div>
        <div class="col-bb5-x">
            <select name="[]" class="form-control input-xs">
                <option value="0">15:30</option>
            </select>
        </div>
    </div>
</div>