<div>
    <p>{{ text|trans }} ?</p>

    <button class="btn btn-info" id="bb-cancel-button">{{ 'cancel'|trans }}</button>
    <button class="btn btn-warning" id="bb-validate-button">{{ 'validate'|trans }}</button>
</div>